<strong>По номеру перевозочного документа</strong>
<mat-form-field>
    <mat-label>Серия и номер билета</mat-label>
    <input matInput [formControl]="ticketFormControl" [errorStateMatcher]="matcher" type="text" id="ticket-input"
           (input)="inputChangeHandler()"
           #ticketInput
    >
    <mat-error *ngIf="ticketFormControl.hasError('pattern')">
        Номер билета должен содержать 13 символов: цифры и латинские буквы
    </mat-error>
</mat-form-field>

<button mat-raised-button color="primary" class="search-btn"
        (click)="callEvent(ticketInput.value, checkbox.checked); ticketInput.value=''; inputChangeHandler();"
        [disabled]="buttonIsDisable || ticketFormControl.hasError('pattern')"
        
>Найти информацию по билету</button>
<mat-checkbox color="primary" #checkbox>Все билеты пассажира</mat-checkbox>