.main-container {
    display: flex;
    height: 100%;
    padding: 15px;
}

.left-column {
    flex: 15% 0 0;
    margin-right: 30px;

}

.right-column {
    flex-grow: 1;

}

.left-column, .right-column {

}

.forms__by-ticket, .forms__by-document {
    width: 50%;
}

.forms {
    display: flex;
}

.mat-spinner {
    margin: 100px 35%;
}